<!-- Adding a new component to display the header -->
<jahm-header></jahm-header>

<!-- Property binding is used with any valid HTML tag or property
and it is applied by using [html_tag_property]="variable_name" -->
<div [hidden]="hideRooms">
  <h2>Number of Rooms</h2>

  <!-- Binding the following properties:
  1) innerText to display the number of rooms returned by the numberOfRooms variable.
  2) ngStyle to change the color according to the availableRooms existence. -->
  <div [innerText]="numberOfRooms" [ngStyle]="{'color': rooms.availableRooms ? 'steelblue':'dodgerblue'}"></div>

  <h2>Available Rooms</h2>

  <!-- Using interpolation syntax to compare if availableRooms variable is different of null.
  If true, the value is returned and make it available to further operations.
  If false, 'No rooms' message is returned.
  {{rooms ?? 'No rooms'}} is equivalent to {rooms != null ? rooms : 'No rooms'} -->
  {{rooms?.availableRooms ?? 'No rooms'}}
</div>

<!-- Use of *ngIf directive to compare if selected room exists.
 If true, the selected room's information is displayed in JSON format. -->
<div *ngIf="selectedRoom">
  {{selectedRoom | json}}
</div>

<!-- Creat a toggle button
1) Use of (click) to call the toggle method everytime the button is clicked.
2) The toggle button's text is updated by using the toggleText variable value. -->
<button (click)="toggle()">{{showButton}}</button>

<!-- *ngIf directive to compare if hideRooms exists -->
<div *ngIf="hideRooms">

  <!-- Adding a new component to create a composite component schema.
  1) Binding the RoomsListComponent to display all the information related to available rooms.
  2) Setting the selectedRoom property to the value returned by selectRoom function. -->
  <jahm-rooms-list [roomsList]="roomList" [roomsListTitle]="roomListTitle" (selectedRoom) = selectRoom($event)></jahm-rooms-list>
</div>

<div>
  <!-- Create a button to add a new room by calling the addRoom method -->
  <button (click)="addRoom()">{{addButton}}</button>

  <!-- Create a button to edit a room by calling the editRoom method -->
  <button (click)="editRoom()">{{updateButton}}</button>

  <!-- Create a button to delete a room by calling the deleteRoom method -->
  <button (click)="deleteRoom()">{{deleteButton}}</button>
</div>


